<div
  class="MonthlyDistribution-container animate-page-in"
  *ngIf="monthlyDistributionItems"
>
  <p
    class="MonthlyDistribution-noItems"
    *ngIf="!monthlyDistributionItems.length; else content"
  >
    To get started, you can configure your table columns in the
    <a routerLink="../settings">settings</a> area, or go ahead and create a new
    log <a routerLink="create">here</a>.
  </p>

  <ng-template #content>
    <div class="MonthlyDistribution-content">
      <ng-container *ngIf="isExperimental">
        <app-monthly-distribution-spending-trend-chart
          class="MonthlyDistribution-item MonthlyDistribution-trending"
          [monthlyDistributionSpendingTrendChartData]="
            monthlyDistributionMeta.allTimeDistribution
          "
        ></app-monthly-distribution-spending-trend-chart>
        <app-monthly-distribution-pie-chart
          class="MonthlyDistribution-item MonthlyDistribution-pie"
          [monthlyDistributionPieChartData]="
            monthlyDistributionItems[0].outgoing
          "
        ></app-monthly-distribution-pie-chart>
      </ng-container>
      <app-monthly-distribution-log-card
        class="MonthlyDistribution-item MonthlyDistribution-log"
        [monthlyDistributionLogCardItems]="monthlyDistributionItems"
        [monthlyDistributionLogCardMeta]="monthlyDistributionMeta"
      ></app-monthly-distribution-log-card>
    </div>
  </ng-template>
</div>

<app-floating-action-button
  floatingActionButtonText="New log"
  floatingActionButtonIcon="plus"
  (floatingActionButtonAction)="createNew()"
></app-floating-action-button>
