<div class="FormInput-container">
  <label
    class="FormInput-label"
    [for]="formInputField.name"
    [class.is-errored]="isErrored"
    >{{ formInputField.label }}
    <span class="FormInput-isRequired" *ngIf="isRequired"> *</span>
  </label>
  <input
    class="FormInput-input"
    [class.is-errored]="isErrored"
    [type]="formInputField.type"
    [id]="formInputField.label"
    [formControl]="control"
  />
  <app-form-input-errors
    *ngIf="isErrored"
    [errors]="control.errors"
  ></app-form-input-errors>
</div>
