@import 'src/assets/styles/themes.scss';
:host {
  ::ng-deep {
    .DashboardSummary-container {
      @include media-sd {
        min-height: 350px;
      }

      @include media-phone {
        min-height: unset;
      }
    }
  }
}
.Salary {
  &-container {
    @include page-container;
  }

  &-noItems {
    @include settings-description;
    font-size: 18px;

    a {
      @include link;
    }
  }

  &-item {
    display: block;

    & + & {
      margin-top: $spacing-30;

      @include media-phone {
        margin-top: $spacing-20;
      }
    }
  }

  &-information {
    margin-top: 0;
    max-width: 700px;
  }
}
