@import 'src/assets/styles/themes.scss';

.Salary {
  &-container {
    @include page-container;
  }

  &-noItems {
    @include settings-description;
    font-size: 18px;

    a {
      @include link;
    }
  }

  &-item {
    display: block;
    & + & {
      margin-top: $spacing-30;
    }
  }
}
