@import 'src/assets/styles/themes.scss';

.AdminKeyActions {
  &-container {
    display: flex;
  }

  &-item {
    @include button-reset;
    color: $color-subheading;
    background-color: $color-settings-item;
    border-radius: $br-med;
    display: flex;
    align-items: center;
    padding: $spacing-15 $spacing-30;

    &:hover {
      background-color: $color-settings-item-hover;
    }

    & + & {
      margin-left: $spacing-20;
    }

    i-feather {
      margin-right: $spacing-10;
    }
  }
}
