@import 'src/assets/styles/themes.scss';

.AdminKeyActions {
  &-container {
    display: flex;
  }

  &-item {
    @include button-reset;
    @include settings-moveable-item;
    display: flex;
    align-items: center;
    padding: $spacing-15 $spacing-30;

    & + & {
      margin-left: $spacing-20;
    }

    i-feather {
      margin-right: $spacing-10;
    }
  }
}
