@import 'src/assets/styles/themes.scss';

.Admin {
  &-container {
    @include page-container;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spacing-30;
  }

  &-actions {
    display: block;
    min-width: 0;
  }

  &-usersList {
    min-width: 0;
  }
}
