@import 'src/assets/styles/themes.scss';

.SettingsSection {
  &-heading {
    @include settings-heading;

    @include media-phone {
      display: none;
    }
  }

  &-buttonHeading {
    display: none;

    @include media-phone {
      @include button-reset;
      color: $color-subheading;
      font-weight: 500;
      display: flex;
      align-items: center;
      width: 100%;
      padding: $spacing-20 $spacing-10;
      font-size: 16px;
    }
  }

  &-icon {
    color: dodgerblue !important;
    margin-right: $spacing-15;
  }

  &-expandIcon {
    margin-left: auto;
    color: $color-table-header;
  }

  &-content {
    @include media-phone {
      display: none;

      &.is-expanded {
        border-top: 1px solid $color-table-divider;
        padding-top: $spacing-15;
        display: block;
        padding-bottom: 30px;
      }
    }
  }
}
