<button class="ContextMenu-button" [matMenuTriggerFor]="menu">
  <ng-content></ng-content>
</button>
<mat-menu #menu="matMenu" yPosition="below" xPosition="before" class="dropdown">
  <ng-container *ngFor="let item of contextMenuItems; let i = index">
    <button
      class="ContextMenu-item"
      *ngIf="!(item.hideWhen$ | async)"
      (click)="selectItem(i)"
    >
      <i-feather [name]="item.icon" *ngIf="item.icon"></i-feather>
      {{ (item.label ? item.label : item.generateLabel()) | capitalize }}
    </button>
  </ng-container>
</mat-menu>
