@import 'src/assets/styles/themes.scss';

.ContextMenu {
  &-button {
    @include button-reset;
    display: block;
  }

  &-item {
    @include button-reset;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 16px;
    display: flex;
    color: $color-subheading;
    width: 100%;
    align-items: center;
    padding: $spacing-10 $spacing-30;

    i-feather {
      margin-right: $spacing-10;
      height: 20px;
      width: 20px;
    }

    &:hover {
      background-color: $color-grey-background;
    }
  }
}

::ng-deep .dropdown {
  box-shadow: 0 2px 8px rgba(black, 0.2);
  background-color: $color-white;
  color: blue;
  padding: 0;
  margin-top: $spacing-10;
}
