@import 'src/assets/styles/themes.scss';

.Card {
  &-container {
    @include shadow-light;
    background-color: $color-white;
    border-radius: $br-med;
  }

  &-header {
    background-color: $color-grey-background;
    padding: $spacing-20;
    border-radius: $br-med $br-med 0 0;
    display: flex;
    justify-content: space-between;

    @include media-phone {
      padding: $spacing-15 $spacing-20;
    }
  }

  &-headerMenu {
    height: 18px;
    color: $color-table-header;
    width: 18px;
    transform: scale(1.8);
    transform-origin: right;
    transition: color 150ms;

    &:hover {
      color: $color-subheading;
    }
  }

  &-headerTitle {
    color: $color-subheading;
    font-size: 18px;
    font-weight: 500;
  }

  &-content {
    padding: $spacing-20;
    overflow-y: auto;
  }
}
