@import 'src/assets/styles/themes.scss';

.LogActionsModal {
  &-container {
    min-width: 250px;
  }

  &-item {
    @include button-reset;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 10px;
    color: $color-table-header;
    width: 100%;
    border-radius: $br-med;
    position: relative;

    &:focus {
      // TODO: Fix - this is bad
      outline: none;
    }

    &:last-child {
      padding-bottom: 5px;
    }

    &:first-child {
      padding-top: 5px;
    }

    @include media-phone {
      padding: 20px 10px;

      &:last-child {
        padding-bottom: 10px;
      }

      &:first-child {
        padding-top: 10px;
      }
    }

    & + & {
      &::before {
        box-sizing: border-box;
        content: '';
        position: absolute;
        height: 1px;
        top: 0;
        left: 0;
        right: 0;
        background-color: $color-table-divider;
      }
    }
  }

  &-icon {
    display: block;
    margin-bottom: $spacing-5;
    color: $color-table-header;
    color: $color-primary-gradient;
  }

  &-text {
    color: $color-table-content;
    font-weight: 500;
  }
}
