<div class="InvestmentsEntryForm-container animate-page-in">
  <form
    class="InvestmentsEntryForm-form"
    [formGroup]="form.formGroup"
    (ngSubmit)="submitForm()"
  >
    <app-information
      class="InvestmentsEntryForm-message"
      informationMessage="If this is your first investment entry, the amount added to investments should be your total contribution so far."
    ></app-information>
    <ngx-form-input
      *ngFor="let field of form.fields"
      [formInputField]="field"
    ></ngx-form-input>

    <app-form-errors [appFormErrors]="errors"></app-form-errors>

    <app-form-submit
      value="Save Investment Entry"
      [form]="form.formGroup"
    ></app-form-submit>
  </form>
</div>
