@import 'src/assets/styles/themes.scss';

.InvestmentsEntryForm {
  &-container {
    @include page-container;
  }

  &-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;

    @include media-phone {
      max-width: 100%;
    }
  }

  &-message {
    margin-top: 0;
  }

  &-submit {
    @include media-phone {
      display: none;
    }
  }
}
