@import 'src/assets/styles/themes.scss';

.NetWorth {
  &-container {
    @include page-container;
  }

  &-heading {
    @include page-heading-single;
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $spacing-30;
    grid-template-areas:
      'summary summary summary'
      'pie line bar'
      'log log log';
  }

  &-summary {
    grid-area: summary;
  }

  &-log {
    grid-area: log;
  }

  &-pieChart {
    grid-area: pie;
  }

  &-lineChart {
    grid-area: line;
  }

  &-barChart {
    grid-area: bar;
  }
}
