@import 'src/assets/styles/themes.scss';

.NetWorth {
  &-container {
    @include page-container;
    position: relative;
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $spacing-30;
    grid-template-areas:
      'summary summary summary'
      'pie line bar'
      'log log log';

    @include media-sd() {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'summary line' 'pie bar' 'log log';
    }

    @include media-tablet {
      display: block;
    }
  }

  &-item {
    display: block;
    min-width: 0;

    @include media-tablet {
      & + & {
        margin-top: $spacing-30;
      }
    }

    @include media-phone {
      & + & {
        margin-top: $spacing-20;
      }
    }
  }

  &-summary {
    grid-area: summary;
  }

  &-log {
    grid-area: log;
  }

  &-pieChart {
    grid-area: pie;
  }

  &-lineChart {
    grid-area: line;
  }

  &-barChart {
    grid-area: bar;
  }

  &-noItems {
    @include settings-description;
    font-size: 18px;

    a {
      @include link;
    }
  }
}
