<app-card cardTitle="Monthly Log" [cardActions]="cardActions">
  <app-table
    [tableColumns]="[
      'Date',
      'Added this month',
      'Total added',
      'Portfolio Value',
      'Returns',
      'Percentage',
      'Change since last month'
    ]"
  >
    <tr class="InvestmentsLogCard-row" *ngFor="let row of monthlyLogCardItems">
      <td class="InvestmentsLogCard-rowItem">
        {{ row.date | date: 'MMMM y' }}
      </td>
      <td class="InvestmentsLogCard-rowItem">
        {{ row.addedSinceLast | currency: 'GBP':'symbol':'1.0-2' }}
      </td>
      <td class="InvestmentsLogCard-rowItem">
        {{ row.totalInvested | currency: 'GBP':'symbol':'1.0-2' }}
      </td>
      <td class="InvestmentsLogCard-rowItem">
        {{ row.totalValue | currency: 'GBP':'symbol':'1.0-2' }}
      </td>
      <td
        class="InvestmentsLogCard-rowItem"
        [class.is-negative]="row.profit < 0"
        [class.is-positive]="row.profit > 0"
      >
        {{ row.profit | currency: 'GBP':'symbol':'1.0-2' }}
      </td>
      <td
        class="InvestmentsLogCard-rowItem"
        [class.is-negative]="row.profitPercentage < 0"
        [class.is-positive]="row.profitPercentage > 0"
      >
        {{ row.profitPercentage | percent }}
      </td>
      <td
        class="InvestmentsLogCard-rowItem"
        [class.is-negative]="row.profitChangeSinceLast < 0"
        [class.is-positive]="row.profitChangeSinceLast > 0"
      >
        {{ row.profitChangeSinceLast | currency: 'GBP':'symbol':'1.0-2' }}
      </td>
      <app-table-actions
        class="InvestmentsLogCard-rowItem"
        *ngIf="isEditing"
        (tableActionsRemove)="removeLog(row.date)"
      ></app-table-actions>
    </tr>
  </app-table>
</app-card>
