<app-card cardTitle="Monthly Log" [cardActions]="cardActions">
  <app-table
    [tableColumns]="[
      'Date',
      'Added this month',
      'Total added',
      'Portfolio Value',
      'Returns',
      'Percentage',
      'Change'
    ]"
  >
    <tr
      class="InvestmentsLogCard-row"
      tabindex="0"
      *ngFor="let row of investmentsLogCardItems"
      (click)="onLongPress(row.date)"
    >
      <td class="InvestmentsLogCard-rowItem">
        {{ row.date | date: 'MMMM y' }}
      </td>
      <td class="InvestmentsLogCard-rowItem">
        {{ row.addedSinceLast | currency: preferredCurrency:'symbol':'1.0-2' }}
      </td>
      <td class="InvestmentsLogCard-rowItem">
        {{ row.totalInvested | currency: preferredCurrency:'symbol':'1.0-2' }}
      </td>
      <td class="InvestmentsLogCard-rowItem">
        {{ row.totalValue | currency: preferredCurrency:'symbol':'1.0-2' }}
      </td>
      <td
        class="InvestmentsLogCard-rowItem"
        [class.is-negative]="row.profit < 0"
        [class.is-positive]="row.profit > 0"
      >
        {{ row.profit | currency: preferredCurrency:'symbol':'1.0-2' }}
      </td>
      <td
        class="InvestmentsLogCard-rowItem"
        [class.is-negative]="row.profitPercentage < 0"
        [class.is-positive]="row.profitPercentage > 0"
      >
        {{ row.profitPercentage | percent: '1.0-2' }}
      </td>
      <td
        class="InvestmentsLogCard-rowItem"
        [class.is-negative]="row.profitChangeSinceLast < 0"
        [class.is-positive]="row.profitChangeSinceLast > 0"
      >
        {{
          row.profitChangeSinceLast
            | currency: preferredCurrency:'symbol':'1.0-2'
        }}
      </td>
      <app-table-actions
        class="InvestmentsLogCard-rowItem"
        *ngIf="isEditing"
        [tableActionsCanEdit]="true"
        (tableActionsRemove)="removeLog(row.date)"
        (tableActionsEdit)="navigateToEditPage(row.date)"
      ></app-table-actions>
    </tr>
  </app-table>
</app-card>
