@import 'src/assets/styles/themes.scss';
:host {
  display: block;
  height: 100%;
}

.Register {
  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-formInput {
    width: 350px;

    @include media-phone-sm {
      width: 100%;
    }
  }

  &-subtext {
    @include default-text;
    margin-top: $spacing-30;
    text-align: center;

    a {
      @include link;
    }
  }

  &-confirmed {
    @include default-text;
    font-size: 18px;
    text-align: center;
  }

  &-confirmedText {
    & + & {
      margin-top: $spacing-10;
    }
  }
}
