<app-unauthenticated-page-wrapper>
  <form
    [formGroup]="form.formGroup"
    class="Register-form"
    (ngSubmit)="login()"
    *ngIf="!isSubmitted; else submitted"
  >
    <ngx-form-input
      class="Register-formInput"
      [formInputField]="form.fields[0]"
    ></ngx-form-input>
    <ngx-form-input
      class="Register-formInput"
      [formInputField]="form.fields[1]"
    ></ngx-form-input>
    <ngx-form-input-password
      class="Register-formInput"
      [formInputField]="form.fields[2]"
    ></ngx-form-input-password>
    <ngx-form-input-checkbox
      class="Register-formInput"
      [formInputField]="form.fields[3]"
    >
      I have read and agreed to the
      <a
        class="Register-labelLink"
        routerLink="../privacy-policy"
        target="_blank"
        rel="noreferrer noopenner"
        >privacy policy</a
      >
    </ngx-form-input-checkbox>
    <app-form-errors [appFormErrors]="errors"></app-form-errors>
    <app-form-submit
      class="Register-submit"
      [form]="form.formGroup"
      value="Create account"
    ></app-form-submit>
    <p class="Register-subtext">
      Already have an account? <a routerLink="login">Log in</a> instead.
    </p>
  </form>
  <ng-template #submitted>
    <div class="Register-confirmed">
      <p class="Register-confirmedText">Your account has been created.</p>
      <p class="Register-confirmedText">
        An email has been sent to {{ form.value.email }} in order to activate
        your account.
      </p>
    </div></ng-template
  >
</app-unauthenticated-page-wrapper>
