@import 'src/assets/styles/themes.scss';
:host {
  display: block;
  height: 100%;
}

.Login {
  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-formInput {
    width: 350px;

    @include media-phone-sm {
      width: 100%;
    }
  }
}
