<app-unauthenticated-page-wrapper>
  <form
    [formGroup]="loginForm.formGroup"
    class="Login-form"
    (ngSubmit)="login()"
  >
    <ngx-form-input
      class="Login-formInput"
      *ngFor="let field of loginForm.fields"
      [formInputField]="field"
    ></ngx-form-input>
    <app-form-errors [appFormErrors]="errors"></app-form-errors>
    <app-form-submit
      class="Login-submit"
      [form]="loginForm.formGroup"
      value="Log in"
    ></app-form-submit>
  </form>
</app-unauthenticated-page-wrapper>
