<app-unauthenticated-page-wrapper>
  <form
    [formGroup]="loginForm.formGroup"
    class="Login-form"
    (ngSubmit)="login()"
  >
    <ngx-form-input
      class="Login-formInput"
      *ngFor="let field of loginForm.fields"
      [formInputField]="field"
    ></ngx-form-input>
    <a class="Login-forgotPassword" routerLink="../forgottenPassword">
      Forgotten your password?
    </a>
    <app-form-errors
      class="Login-errors"
      *ngIf="errors"
      [appFormErrors]="errors"
    ></app-form-errors>
    <app-form-submit
      class="Login-submit"
      [form]="loginForm.formGroup"
      value="Log in"
    ></app-form-submit>

    <p class="Login-subtext">
      No account? <a routerLink="../register">Create one here</a> instead.
    </p>
  </form>
</app-unauthenticated-page-wrapper>
