<app-card
  class="NetWorthLog-container"
  cardTitle="Monthly Log"
  [cardActions]="contextMenuItems"
>
  <app-table [tableColumns]="netWorthColumns">
    <tr class="NetWorthLog-row" *ngFor="let row of logs">
      <td class="NetWorthLog-rowItem">
        {{ row.date | date: 'MMMM y' }}
      </td>
      <td
        class="NetWorthLog-rowItem"
        *ngFor="let item of row | keys | slice: 1"
      >
        {{ row[item] | currency: 'GBP':'symbol':'1.0-2' }}
      </td>
    </tr></app-table
  >
</app-card>
