<app-card
  class="NetWorthLog-container"
  cardTitle="Monthly Log"
  [cardActions]="cardActions"
>
  <app-table [tableColumns]="netWorthMeta.fields">
    <tr
      class="NetWorthLog-row"
      tabindex="0"
      *ngFor="let row of logs"
      (click)="onLongPress(row.date)"
    >
      <td class="NetWorthLog-rowItem">
        {{ row.date | date: 'MMMM y' }}
      </td>
      <td
        class="NetWorthLog-rowItem"
        *ngFor="let item of row | keys | slice: 1"
        [class.is-negative]="(item === 'change' || '% Change') && row[item] < 0"
        [class.is-positive]="(item === 'change' || '% Change') && row[item] > 0"
      >
        <ng-container *ngIf="item === '% Change'; else currency">
          {{ row[item] | percent }}
        </ng-container>
        <ng-template #currency>
          {{
            row[item]
              | currency: netWorthMeta.preferredCurrency:'symbol':'1.0-2'
          }}
        </ng-template>
      </td>
    </tr></app-table
  >
</app-card>
