<app-card class="NetWorthLog-container" cardTitle="Monthly Log">
  <app-table
    [tableColumns]="[
      'Date',
      'Santander',
      'Monzo',
      'ISA',
      'Investments',
      'Total',
      'Change'
    ]"
  >
    <tr class="NetWorthLog-row" *ngFor="let row of logs">
      <td class="NetWorthLog-rowItem">{{ row.date }}</td>
      <td class="NetWorthLog-rowItem">{{ row.santander }}</td>
      <td class="NetWorthLog-rowItem">{{ row.monzo }}</td>
      <td class="NetWorthLog-rowItem">{{ row.isa }}</td>
      <td class="NetWorthLog-rowItem">{{ row.investments }}</td>
      <td class="NetWorthLog-rowItem">{{ row.total }}</td>
      <td class="NetWorthLog-rowItem">{{ row.change }}</td>
    </tr></app-table
  >
</app-card>
