@import 'src/assets/styles/themes.scss';

.IconPicker {
  &-container {
    position: relative;

    @include media-phone {
      position: static;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-20;
  }

  &-openButton {
    @include button-tertiary;
  }

  &-close {
    @include button-reset;
  }

  &-iconsContainer {
    box-shadow: 0 2px 8px rgba(black, 0.1);
    position: absolute;
    bottom: 120%;
    background-color: $color-white;
    padding: $spacing-20;
    border-radius: $br-med;

    @include media-phone {
      z-index: 100;
      left: $spacing-10;
      right: $spacing-10;
      bottom: initial;
      top: $spacing-10;
    }
  }

  &-iconButton {
    @include button-reset;
    padding: $spacing-5;
    color: $color-table-content;
    border-radius: $br-sm;

    &:hover {
      background-color: $color-primary-light;
      color: $color-primary;
    }

    @include media-phone {
      i-feather {
        height: 15px;
        width: 15px;
      }
    }
  }

  &-iconsList {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  &-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-10;
  }

  &-navigationButton {
    @include button-reset;
    color: $color-table-content;

    &:hover {
      text-decoration: underline;
    }
  }

  &-nextButton {
    margin-left: auto;
  }
}
