<div class="IconPicker-container">
  <button type="button" class="IconPicker-openButton" (click)="openIcons()">
    <i-feather
      [name]="selectedIcon"
      *ngIf="selectedIcon; else noIcon"
    ></i-feather>
    <ng-template #noIcon>Select an icon</ng-template>
  </button>

  <div class="IconPicker-iconsContainer" *ngIf="displayIcons">
    <div class="IconPicker-header">
      <h3 class="IconPicker-text">
        Select an icon
      </h3>
      <button type="button" class="IconPicker-close" (click)="closeIcons()">
        <i-feather name="x"></i-feather>
      </button>
    </div>

    <div class="IconPicker-iconsList">
      <button
        type="button"
        class="IconPicker-iconButton"
        (click)="selectIcon(iconName)"
        *ngFor="let iconName of visibleIcons"
      >
        <i-feather [name]="iconName"></i-feather>
      </button>
    </div>

    <div class="IconPicker-navigation">
      <button
        type="button"
        class="IconPicker-navigationButton IconPicker-prevButton"
        (click)="goToPreviousPage()"
        *ngIf="showPrevButton"
      >
        Prev
      </button>
      <button
        type="button"
        class="IconPicker-navigationButton IconPicker-nextButton"
        (click)="goToNextPage()"
        *ngIf="showNextButton"
      >
        Next
      </button>
    </div>
  </div>
</div>
