<app-unauthenticated-page-wrapper>
  <form
    (ngSubmit)="resetPassword()"
    [formGroup]="form.formGroup"
    class="ForgottenPassword-container"
    *ngIf="!emailSent; else emailSentTemplate"
  >
    <p class="ForgottenPassword-text">
      Enter your email address below to reset your password.
    </p>
    <ngx-form-input [formInputField]="form.fields[0]"></ngx-form-input>
    <app-form-errors [appFormErrors]="errors"></app-form-errors>
    <app-form-submit
      [form]="form.formGroup"
      value="Reset password"
    ></app-form-submit>
  </form>
  <ng-template #emailSentTemplate>
    <p class="ForgottenPassword-text">
      If an account exists, an email has been sent to
      {{ form.value.email }} providing instructions on how to reset your
      password.
    </p>
    <p class="ForgottenPassword-text">
      Please remember to check your junk folder if you don't see it initially.
    </p>
  </ng-template>
</app-unauthenticated-page-wrapper>
