@import 'src/assets/styles/themes.scss';

.Header {
  &-container {
    margin: var(--spacing-page-top) var(--spacing-page-side) 0;
    position: relative;

    @include media-phone {
      margin: 0;
      margin: $spacing-20;
    }
  }

  &-title {
    font-size: 28px;
    font-weight: bold;
    color: $color-heading;
    line-height: 100%;

    @include media-phone {
      text-align: center;
      font-size: 18px;
    }
  }

  &-menu {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 0;
  }

  &-back {
    @include button-reset;
    position: absolute;
    color: $color-subheading;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    display: none;

    @include media-phone {
      display: block;
    }

    i-feather {
      display: block;
    }
  }
}
