@import 'src/assets/styles/themes.scss';

.ChangePasswordForm {
  &-subheading {
    @include page-subheading;
  }

  &-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }

  &-confirmation {
    @include default-text;
    margin-bottom: $spacing-20;
  }
}
