@import 'src/assets/styles/themes.scss';

.DashboardSummaryConfigItem {
  $cmp: &;

  &-container {
    @include settings-moveable-item;
    @include center-contents;
    flex-direction: column;
    padding: $spacing-20 $spacing-30;
    text-align: center;
    font-size: 18px;
    position: relative;
    min-width: 170px;

    @include media-tablet {
      padding: $spacing-20 $spacing-10;
    }

    @include media-phone {
      padding: $spacing-10 $spacing-20;
      min-height: 90px;
    }

    &:hover {
      #{$cmp}-actions {
        display: flex;
      }
    }
  }

  &-actions {
    display: none;
    position: absolute;
    top: $spacing-10;
    right: $spacing-10;
    left: $spacing-10;
    transition: 100ms;
    justify-content: space-between;
  }

  &-button {
    @include button-reset;
    color: $color-subheading;

    &:hover {
      transform: scale(1.2);
    }

    i-feather {
      height: 20px;
      width: 20px;
    }
  }

  &-selectedItemAttributes {
    font-size: 10px;
    text-transform: uppercase;
  }
}
