<app-card cardTitle="Monthly Log" [cardActions]="cardActions">
  <app-table [tableColumns]="fields">
    <tr
      class="MonthlyDistributionLogCard-row"
      tabindex="0"
      *ngFor="let log of mappedLogs"
      (click)="onLongPress(log.date)"
    >
      <td class="MonthlyDistributionLogCard-rowItem">
        {{ log.date | date: 'MMMM y' }}
      </td>
      <td
        class="MonthlyDistributionLogCard-rowItem"
        *ngFor="let fieldName of log | keys | slice: 1"
      >
        {{ log[fieldName] | currency: preferredCurrency:'symbol':'1.0-2' }}
      </td>
    </tr>
  </app-table>
</app-card>
