@import 'src/assets/styles/themes.scss';

.Table {
  &-container {
    width: 100%;
    margin: -$spacing-10 0;

    @include media-phone {
      font-size: 12px;

      * {
        font-size: 12px;
      }
    }
  }

  &-headerItem {
    padding: $spacing-15 0;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: $color-table-header;
    white-space: nowrap;
    padding-right: $spacing-15;
  }
}
