<app-unauthenticated-page-wrapper>
  <div class="PrivacyPolicy-container">
    <h2 class="PrivacyPolicy-heading">Privacy Policy</h2>
    <p class="PrivacyPolicy-introduction">
      Here at Scoop, we respect privacy. That’s why our privacy policy is so
      small - we only collect and use data for necessary reasons.
    </p>

    <ul class="PrivacyPolicy-list">
      <li class="PrivacyPolicy-listItem">
        We store your email address so that you can log in to your account, and
        so that we can help you if you get locked out of your account. We also
        use your email to send email notifications and occasional updates on new
        features that are coming to Scoop. You can choose to disable these at
        any time in the user settings menu.
      </li>

      <li class="PrivacyPolicy-listItem">
        We store the name that you provide to us when registering. We do this to
        make the experience more personable to you, including showing your name
        in the top right of the screen, and also using it for greetings in
        emails.
      </li>

      <li class="PrivacyPolicy-listItem">
        For each user, we store their last online time. This is so that we can
        measure usage for the app and track inactive accounts.
      </li>

      <li class="PrivacyPolicy-listItem">
        The Scoop admin is able to see the users email, name and last online
        time.
      </li>

      <li class="PrivacyPolicy-listItem">
        Upon request, Scoop can send you all of the data held for your account,
        and can also delete all data associated with your account.
      </li>

      <li class="PrivacyPolicy-listItem">
        Figures that you enter for salary, net worth, investments and monthly
        distribution is solely to provide you with the figures and calculations
        that you need. Scoop does not use this data in any other way.
      </li>
    </ul>
  </div>
</app-unauthenticated-page-wrapper>
