<div class="SalaryEntryForm-container" *ngIf="form">
  <form
    [formGroup]="form.formGroup"
    class="SalaryEntryForm-form"
    (ngSubmit)="submitForm()"
  >
    <ngx-form-input [formInputField]="form.fields[0]"></ngx-form-input>
    <ngx-form-input-number
      [formInputField]="form.fields[1]"
    ></ngx-form-input-number>
    <ng-container *ngIf="!salaryDeductions; else fullForm">
      <app-form-errors [appFormErrors]="errors"></app-form-errors>

      <button
        class="SalaryEntryForm-getDeductionsButton"
        type="button"
        (click)="sendGrossSalary()"
      >
        Get estimated deductions
      </button>
      <button
        class="SalaryEntryForm-sameAsLastMonthButton"
        type="button"
        (click)="logSameAsLastMonth()"
      >
        Same as last time
      </button>
    </ng-container>

    <ng-template #fullForm>
      <ngx-form-input-number
        *ngFor="let field of form.fields | slice: 2"
        [formInputField]="field"
      ></ngx-form-input-number>

      <app-form-errors [appFormErrors]="errors"></app-form-errors>
      <div class="SalaryEntryForm-remainingBalance">
        <p class="SalaryEntryForm-label">
          Net Salary
        </p>
        <p class="SalaryEntryForm-value">
          {{ netSalary | async | currency: '£' }}
        </p>
      </div>
      <app-form-submit
        class="SalaryEntryForm-submit"
        value="Save salary entry"
        [form]="form.formGroup"
      ></app-form-submit>
    </ng-template>
  </form>
</div>
