<div
  class="SettingsMenu-container"
  [class.has-notifications]="notifications?.length"
>
  <app-detailed-context-menu
    [detailedContextMenuItems]="notifications"
    [detailedContextMenuTitle]="
      notifications.length ? 'Notifications' : 'No notifications to show.'
    "
    class="SettingsMenu-notificationsContainer"
    *ngIf="notifications?.length; else back"
  >
    <div
      class="SettingsMenu-notifications"
      [class.has-notifications]="notifications.length"
    >
      <i-feather class="SettingsMenu-notificationsIcon" name="bell"></i-feather>
    </div>
  </app-detailed-context-menu>
  <ng-template #back>
    <button class="SettingsMenu-back" (click)="goBack()">
      <i-feather name="chevron-left"></i-feather>
    </button>
  </ng-template>
  <button
    class="SettingsMenu-action"
    *ngIf="action; else defaultMenu"
    (click)="action.action()"
  >
    {{ action.label }}
  </button>

  <ng-template #defaultMenu>
    <app-context-menu [contextMenuItems]="menuItems" class="SettingsMenu-item">
      <div class="SettingsMenu-profile">
        <img
          src="../../../../assets/images/User.svg"
          alt=""
          class="SettingsMenu-profileIcon"
        />
        <p class="SettingsMenu-profileName">{{ name }}</p>
        <i-feather
          class="SettingsMenu-openIcon"
          name="chevron-down"
        ></i-feather>
      </div>
    </app-context-menu>
  </ng-template>
</div>
