@import 'src/assets/styles/themes.scss';

.SettingsMenu {
  $cmp: &;

  &-container {
    display: flex;
    align-items: center;

    @include media-phone {
      justify-content: space-between;
    }

    &.has-notifications {
      @include media-phone {
        #{$cmp}-notificationsContainer {
          margin-right: 0;
          padding-right: 0;
          border-right: 0;
          display: block;
        }

        #{$cmp}-back {
          display: none;
        }
      }
    }
  }

  &-back {
    @include button-reset;
    color: $color-subheading;
    display: none;

    @include media-phone {
      display: block;
    }

    i-feather {
      display: block;
    }
  }

  &-notificationsContainer {
    margin-right: $spacing-20;
    padding-right: $spacing-20;
    border-right: 1px solid $color-primary-light;
    display: block;

    @include media-tablet {
      margin-right: $spacing-15;
      padding-right: $spacing-15;
    }

    @include media-phone {
      display: none;
    }
  }

  &-notifications {
    font-size: 0;
    transform-origin: center;
    transition: transform 250ms;
    &:hover {
      transform: scale(1.1);
    }

    &.has-notifications {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 3px;
        right: 8px;
        transform: translate(50%, -50%);
        height: 10px;
        width: 10px;
        background-color: $color-form-input-error-border;
        border-radius: $br-max;
      }
    }
  }

  &-notificationsIcon {
    height: 25px;
    width: 25px;
    color: rgba($color-primary, 0.9);
  }

  &-profile {
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    transition: background-color 250ms ease-in-out;
    border-radius: $br-med;
    cursor: pointer;

    &:hover {
      #{$cmp}-profileIcon {
        transform: scale(1.1);
      }
    }
  }

  &-profileName {
    color: $color-table-header;
    font-size: 16px;
    font-weight: 500;
    margin-right: 3px;

    @include media-tablet {
      display: none;
    }
  }

  &-profileIcon {
    width: 35px;
    margin-right: $spacing-10;
    display: block;
    font-size: 28px;
    font-weight: bold;
    color: $color-heading;
    line-height: 100%;
    transform-origin: center;
    transition: transform 250ms;

    @include media-tablet {
      margin-right: $spacing-5;
    }

    @include media-phone {
      margin-right: 0;
    }
  }

  &-openIcon {
    color: $color-table-header;
    width: 20px;
    height: 20px;
    position: relative;

    @include media-phone {
      display: none;
    }
  }

  &-action {
    @include button-reset;
    font-weight: 500;
    color: $color-subheading;
  }
}
