<div class="SettingsMenu-container">
  <app-context-menu
    [contextMenuItems]=""
    class="SettingsMenu-item"
    *ngIf="isDevMode"
  >
    <div class="SettingsMenu-notifications">
      <i-feather class="SettingsMenu-notificationsIcon" name="bell"></i-feather>
    </div>
  </app-context-menu>
  <app-context-menu [contextMenuItems]="menuItems" class="SettingsMenu-item">
    <div class="SettingsMenu-profile">
      <img
        src="../../../../assets/images/User.svg"
        alt=""
        class="SettingsMenu-profileIcon"
      />
      <p class="SettingsMenu-profileName">{{ name }}</p>
      <i-feather class="SettingsMenu-openIcon" name="chevron-down"></i-feather>
    </div>
  </app-context-menu>
</div>
