@import 'src/assets/styles/themes.scss';

.App {
  &-container {
    display: flex;
    height: 100%;
  }

  &-content {
    overflow-y: scroll;
    position: relative;
    background-color: $color-page-background;
    height: 100%;
    flex: 1 1 100%;
  }

  &-sidebar {
    display: block;
    height: 100%;
  }

  &-settingsMenu {
    position: absolute;
    right: $spacing-50;
    top: $spacing-50;
  }
}
