@import 'src/assets/styles/themes.scss';

.App {
  &-container {
    display: flex;
    height: 100%;
  }

  &-experimentalSwitch {
    @include button-reset;
    background-color: $color-grey-background;
    padding: $spacing-5;
    color: $color-subheading;
    position: absolute;
    top: $spacing-10;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }

  &-content {
    overflow-y: scroll;
    position: relative;
    background-color: $color-page-background;
    height: 100%;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;

    &.logged-in {
      @include media-phone {
        padding-bottom: 64px;
      }
    }
  }

  &-sidebar {
    display: block;
    height: 100%;

    @include media-phone {
      height: auto;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }
  }

  &-header {
    @include media-phone {
      box-shadow: 0px 2px 8px rgba(black, 0.1);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      background-color: $color-white;
    }
  }

  &-router {
    position: relative;
  }

  &-settingsMenu {
    position: absolute;
    right: calc(var(--spacing-page-side) - 10px);
    top: calc(var(--spacing-page-top) - 10px);
  }
}
