<div class="App-container">
  <button
    class="App-experimentalSwitch"
    (click)="toggleExperimental()"
    *ngIf="isDevelopment"
  >
    EXPERIMENTAL MODE
  </button>
  <app-sidebar class="App-sidebar" *ngIf="isLoggedIn()"></app-sidebar>
  <div class="App-content" [class.logged-in]="isLoggedIn()">
    <app-header
      class="App-header"
      *ngIf="isLoggedIn()"
      [headerTitle]="title | async"
    ></app-header>

    <router-outlet></router-outlet>
  </div>
</div>
<app-loading-spinner [fullScreen]="true"></app-loading-spinner>
