@import 'src/assets/styles/themes.scss';

.App {
  &-container {
    display: flex;
    height: 100%;
  }

  &-content {
    @include page-container;
    background-color: $color-page-background;
    height: 100%;
    flex: 1 1 100%;
  }

  &-sidebar {
    display: block;
  }
}
