<div class="InvestmentsSummary-container">
  <div class="InvestmentsSummary-item">
    <h3 class="InvestmentsSummary-label">Total Returns</h3>
    <p class="InvestmentsSummary-value">£300</p>
  </div>
  <div class="InvestmentsSummary-item">
    <h3 class="InvestmentsSummary-label">Percentage Returns</h3>
    <p class="InvestmentsSummary-value">11.2%</p>
  </div>
  <div class="InvestmentsSummary-item">
    <h3 class="InvestmentsSummary-label">Investment Value</h3>
    <p class="InvestmentsSummary-value">£3000</p>
  </div>
  <div class="InvestmentsSummary-item">
    <h3 class="InvestmentsSummary-label">Invested</h3>
    <p class="InvestmentsSummary-value">£2700</p>
  </div>
</div>
