@import 'src/assets/styles/themes.scss';

.DashboardSummary {
  &-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $spacing-20;
    height: 100%;

    @include media-sd() {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-phone {
      grid-template-columns: 1fr;
    }
  }

  &-item {
    @include center-contents;
    @include shadow-light;
    flex-direction: column;
    height: 150px;
    background-color: $color-white;
    border-radius: $br-med;

    @include media-sd {
      height: 100%;
    }

    @include media-tablet {
      height: 150px;
    }

    @include media-phone {
      height: auto;
      flex-direction: row;
      justify-content: space-between;
      padding: $spacing-15 $spacing-20;
    }
  }

  &-label {
    font-weight: 500;
    font-size: 14px;
    color: $color-subheading;

    @include media-phone {
      font-size: 16px;
    }
  }

  &-value {
    font-size: 38px;
    font-weight: 500;
    color: $color-primary;

    @include media-phone {
      font-size: 30px;
    }
  }
}
