@import 'src/assets/styles/themes.scss';

.DashboardSummary {
  &-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $spacing-20;
    height: 100%;

    @include media-sd() {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-phone {
      grid-template-columns: 1fr;
      grid-gap: $spacing-10;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    @include shadow-light;
    background-color: $color-white;
    border-radius: $br-med;

    @include media-sd {
      height: 100%;
      justify-content: center;
      flex-direction: column;
      min-height: 130px;
    }

    @include media-tablet {
      padding: $spacing-30;
      align-items: center;
    }

    @include media-phone {
      height: auto;
      flex-direction: row;
      justify-content: space-between;
      padding: $spacing-15 $spacing-20;
      flex-direction: row-reverse;
      min-height: 0;
    }
  }

  &-icon {
    background-color: $indigo-100;
    border-radius: $br-max;
    margin-right: $spacing-30;
    height: 60px;
    width: 60px;
    @include center-contents;
    color: $indigo-700;

    i-feather {
      height: 30px;
      width: 30px;
    }

    @include media-sd {
      height: 40px;
      width: 40px;
      margin-right: 0;
      margin-bottom: $spacing-10;

      i-feather {
        height: 20px;
        width: 20px;
      }
    }

    @include media-tablet {
      height: 60px;
      width: 60px;

      i-feather {
        height: 30px;
        width: 30px;
      }
    }

    @include media-phone {
      margin-bottom: 0;
      background-color: transparent;
      height: auto;
      width: auto;
    }
  }

  &-label {
    font-weight: 500;
    font-size: 14px;
    color: $color-subheading;
    line-height: 1;
    margin-bottom: 2px;

    @include media-phone {
      font-size: 14px;
    }
  }

  &-details {
    @include media-sd {
      text-align: center;
    }

    @include media-phone {
      text-align: left;
    }
  }

  &-value {
    font-size: 28px;
    font-weight: 500;
    color: $color-primary;
    line-height: 1;
    margin-bottom: $spacing-5;

    @include media-phone {
      font-size: 26px;
    }
  }
}
