<app-card cardTitle="Monthly Log" [cardActions]="actions">
  <app-table
    [tableColumns]="[
      'Date',
      'Added',
      'Invested',
      'Portfolio Value',
      'Returns',
      'Percentage',
      'Change since last month'
    ]"
  >
    <tr class="MonthlyLogCard-row" *ngFor="let row of monthlyLogCardItems">
      <td class="MonthlyLogCard-rowItem">{{ row.date | date: 'MMMM y' }}</td>
      <td class="MonthlyLogCard-rowItem">
        {{ row.addedSinceLast | currency: 'GBP':'symbol':'1.0-2' }}
      </td>
      <td class="MonthlyLogCard-rowItem">
        {{ row.totalInvested | currency: 'GBP':'symbol':'1.0-2' }}
      </td>
      <td class="MonthlyLogCard-rowItem">
        {{ row.totalValue | currency: 'GBP':'symbol':'1.0-2' }}
      </td>
      <td class="MonthlyLogCard-rowItem">
        {{ row.profit | currency: 'GBP':'symbol':'1.0-2' }}
      </td>
      <td class="MonthlyLogCard-rowItem">
        {{ row.profitPercentage | percent }}
      </td>
      <td class="MonthlyLogCard-rowItem">
        {{ row.profitChangeSinceLast | currency: 'GBP':'symbol':'1.0-2' }}
      </td>
    </tr>
  </app-table>
</app-card>
