<div class="MonthlyDistributionFieldsConfig-container">
  <app-information
    class="MonthlyDistributionFieldsConfig-information"
    informationMessage="The salary and income fields will always be active by default, but you are free to move them around as you please."
  ></app-information>
  <h3 class="MonthlyDistributionFieldsConfig-subheading">Income Fields</h3>
  <app-fields-config
    class="MonthlyDistributionFieldsConfig-section"
    [fieldsConfigColumns]="monthlyDistributionIncomeColumns"
  ></app-fields-config>

  <h3 class="MonthlyDistributionFieldsConfig-subheading">Outgoing Fields</h3>
  <app-fields-config
    class="MonthlyDistributionFieldsConfig-section"
    [fieldsConfigColumns]="monthlyDistributionOutgoingColumns"
  ></app-fields-config>
</div>
