<div class="MonthlyDistributionFieldsConfig-container">
  <h2 class="MonthlyDistributionFieldsConfig-heading">
    Monthly Distribution Fields Configuration
  </h2>
  <p class="MonthlyDistributionFieldsConfig-description">
    Move the columns around to choose the order that you want them to be
    displayed when in tables. You can add more using the input below, or remove
    them by clicking the 'x' next to the column name.
  </p>

  <h3 class="MonthlyDistributionFieldsConfig-subheading">Income Fields</h3>
  <app-fields-config
    class="MonthlyDistributionFieldsConfig-section"
    [fieldsConfigColumns]="monthlyDistributionIncomeColumns"
  ></app-fields-config>

  <h3 class="MonthlyDistributionFieldsConfig-subheading">Outgoing Fields</h3>
  <app-fields-config
    class="MonthlyDistributionFieldsConfig-section"
    [fieldsConfigColumns]="monthlyDistributionOutgoingColumns"
  ></app-fields-config>
</div>
