@import 'src/assets/styles/themes.scss';

.MonthlyDistributionFieldsConfig {
  &-subheading {
    @include subheading-sm;

    @include media-phone {
      font-size: 16px;
      font-weight: 500;
    }
  }

  &-section + &-subheading {
    padding-top: $spacing-30;
  }
}
