<div class="Sidebar-container" [class.minimised]="sidebarMinimised">
  <div class="Sidebar-branding">
    <img
      class="Sidebar-brandingLogo"
      src="../../../../assets/images/Gem.svg"
      alt=""
    />
    <span class="Sidebar-brandingText">scoop</span>
    <span class="Sidebar-brandingBeta">BETA</span>
  </div>

  <nav class="Sidebar-nav">
    <a
      class="Sidebar-navItem"
      *ngFor="let item of navItems"
      [routerLink]="item.link"
      routerLinkActive="Sidebar-navItem--active"
    >
      <i-feather class="Sidebar-navIcon" [name]="item.icon"></i-feather>
      <span class="Sidebar-navText">{{ item.label }}</span>
    </a>
    <button class="Sidebar-minimise" (click)="changeSidebarState()">
      <i-feather
        class="Sidebar-navIcon"
        [name]="sidebarMinimised ? 'chevrons-right' : 'chevrons-left'"
      ></i-feather>
      <span class="Sidebar-navText">Minimise</span>
    </button>
  </nav>
</div>
