<div class="Sidebar-container">
  <div class="Sidebar-branding">
    <img
      class="Sidebar-brandingLogo"
      src="../../../../assets/images/Gem.svg"
      alt=""
    />
    <span class="Sidebar-brandingText">scoop</span>
  </div>

  <nav class="Sidebar-nav">
    <a class="Sidebar-navItem" routerLink="">
      <i-feather class="Sidebar-navIcon" name="trending-up"></i-feather>
      <span class="Sidebar-navText">Investments</span>
    </a>
    <a class="Sidebar-navItem" routerLink="">
      <i-feather class="Sidebar-navIcon" name="calendar"></i-feather>
      <span class="Sidebar-navText">Monthly Distribution</span>
    </a>
    <a class="Sidebar-navItem" routerLink="">
      <i-feather class="Sidebar-navIcon" name="file-text"></i-feather>
      <span class="Sidebar-navText">Net Worth</span>
    </a>
  </nav>
</div>
