@import 'src/assets/styles/themes.scss';

.Sidebar {
  $cmp: &;

  &-container {
    @include shadow-dark;
    z-index: 10;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-60 0;
    position: relative;
    background-image: linear-gradient(
      to bottom,
      $color-primary,
      $color-primary-gradient
    );

    @include media-ld {
      width: 80px;
      padding-top: var(--spacing-page-top);
    }

    @include media-phone {
      border-top: 1px solid $color-page-background;
      width: 100%;
      height: auto;
      background-color: $color-primary;
      padding: 0;
    }
  }

  &-branding {
    color: $color-white;
    display: flex;
    align-items: center;
    margin-bottom: $spacing-40;
    position: relative;

    @include media-phone {
      display: none;
    }
  }

  &-brandingLogo {
    display: block;
    height: 34px;
    margin-right: $spacing-10;

    @include media-ld {
      height: 30px;
      margin-right: 0;
    }
  }

  &-brandingBeta {
    position: absolute;
    top: 30px;
    right: 24px;
    font-size: 12px;
    letter-spacing: 3px;

    @include media-ld {
      display: none;
    }
  }

  &-brandingText {
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    position: relative;
    bottom: 4px;

    @include media-ld {
      display: none;
    }
  }

  &-nav {
    width: 100%;

    @include media-phone {
      display: flex;
    }
  }

  &-navItem {
    display: flex;
    color: $color-white;
    padding: $spacing-15 $spacing-40;
    cursor: pointer;
    border-radius: $br-med;
    text-decoration: none;
    position: relative;

    &--active {
      &::before {
        content: '';
        position: absolute;
        border-radius: $br-max;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 10px;
        width: 10px;

        background-color: $color-white;

        @include media-ld {
          height: 100%;
          border-radius: 0;
        }

        @include media-phone {
          transform: translate(0, 0);
          height: 5px;
          top: initial;
          top: 0;
          width: 100%;
        }
      }
    }

    @include media-ld {
      padding: $spacing-15 0;
      justify-content: center;

      &:hover {
        #{$cmp}-navText {
          display: block;
        }
      }
    }

    @include media-phone {
      flex: 1 1 25%;
      padding: $spacing-20 0;
    }

    &:hover {
      background-color: $color-primary;
    }
  }

  &-navIcon {
    margin-right: $spacing-20;

    @include media-ld {
      margin-right: 0;
    }
  }

  &-navText {
    font-size: 18px;

    @include media-ld {
      color: $color-white;
      background-color: $color-primary;
      padding: $spacing-10;
      font-weight: 500;
      left: calc(100% + 20px);
      display: none;
      border-radius: $br-med;
      width: auto;
      position: absolute;
      white-space: nowrap;
      top: 50%;
      transform: translateY(-50%);
      transition: 500ms;
    }

    @include media-phone {
      display: none !important;
    }
  }
}
