@import 'src/assets/styles/themes.scss';

@mixin nav-item-base {
  display: flex;
  color: $color-white;
  padding: $spacing-15 $spacing-40;
  cursor: pointer;
  border-radius: $br-med;
}

@mixin container-min {
  width: 70px;
  overflow: visible;
  padding-top: var(--spacing-page-top);

  @include media-phone {
    width: 100%;
    padding-top: 0;
  }
}

@mixin brandingLogo-min {
  height: 30px;
  margin-right: 0;
}

@mixin brandingText-min {
  display: none;
}

@mixin brandingBeta-min {
  display: none;
}

@mixin navText-hover {
  color: $color-white;
  background-color: $color-primary;
  padding: $spacing-10;
  font-weight: 500;
  left: calc(100% + 20px);
  top: 50%;
  width: auto;
  border-radius: $br-med;
  opacity: 1;
}

@mixin navItem-min {
  padding: $spacing-15 0;
  justify-content: center;

  &:hover {
    .Sidebar-navText {
      display: block;
      @include navText-hover;
    }
  }

  @include media-phone {
    padding: $spacing-20;
  }
}

@mixin navText-min {
  opacity: 0;

  width: 0px;
  transform: translateY(-50%);
}

@mixin navIcon-min {
  margin-right: 0;
}

.Sidebar {
  $cmp: &;

  &-container {
    @include shadow-dark;
    transition: 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    z-index: 10;
    height: 100%;
    overflow: hidden;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-60 0 $spacing-20;
    position: relative;
    background-image: linear-gradient(
      to bottom,
      $color-primary,
      $color-primary-gradient
    );

    @include media-ld {
      @include container-min;
    }

    @include media-phone {
      width: 100%;
      height: auto;
      padding: 0;
      background-color: $color-white;
      background-image: linear-gradient(
        to bottom,
        $color-primary,
        lighten($color-primary, 5%)
      );
      box-shadow: 0px -2px 8px rgba(black, 0.2);
    }
  }

  &-branding {
    color: $color-white;
    display: flex;
    align-items: center;
    margin-bottom: $spacing-40;
    position: relative;

    @include media-phone {
      display: none;
    }
  }

  &-brandingLogo {
    display: block;
    height: 34px;
    margin-right: $spacing-10;

    @include media-ld {
      @include brandingLogo-min;
    }
  }

  &-brandingBeta {
    position: absolute;
    top: 30px;
    right: 24px;
    font-size: 12px;
    letter-spacing: 3px;

    @include media-ld {
      @include brandingBeta-min;
    }
  }

  &-brandingText {
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    position: relative;
    bottom: 4px;

    @include media-ld {
      @include brandingText-min;
    }
  }

  &-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media-phone {
      flex-direction: row;
    }
  }

  &-navItem {
    @include nav-item-base;
    text-decoration: none;
    position: relative;

    &--active {
      &::before {
        content: '';
        position: absolute;
        border-radius: $br-max;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 10px;
        width: 10px;

        background-color: $color-white;

        @include media-ld {
          height: 100%;
          border-radius: 0;
        }

        @include media-phone {
          transform: translate(0, 0);
          height: 5px;
          top: initial;
          top: 0;
          width: 100%;
        }
      }
    }

    @include media-ld {
      @include navItem-min;
    }

    @include media-phone {
      flex: 1 1 25%;
      padding: $spacing-20 0;
      opacity: 0.7;

      &--active {
        opacity: 1;
      }
    }

    &:hover {
      background-color: $color-primary;

      @include media-phone {
        background-color: transparent;
      }
    }
  }

  &-navIcon {
    margin-right: $spacing-20;

    @include media-ld {
      @include navIcon-min;
    }
  }

  &-navText {
    overflow: hidden;
    width: 166px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    position: absolute;
    left: 84px;
    transition: 250ms;
    white-space: nowrap;

    @include media-ld {
      @include navText-min;
    }

    @include media-phone {
      display: none !important;
    }
  }

  &-minimise {
    @include button-reset;
    @include nav-item-base;
    margin-top: auto;
    position: relative;

    &:hover {
      background-color: $color-primary-gradient;
    }

    @include media-ld {
      display: none;
    }
  }
}

.Sidebar-container.minimised {
  @include container-min;

  .Sidebar {
    &-navText {
      @include navText-min;
    }

    &-brandingLogo {
      @include brandingLogo-min;
    }

    &-brandingBeta {
      @include brandingBeta-min;
    }

    &-brandingText {
      @include brandingText-min;
    }

    &-navItem {
      @include navItem-min;
    }

    &-navIcon {
      @include navIcon-min;
    }

    &-minimiseIcon {
      margin-right: 0;
    }

    &-minimise {
      @include navItem-min;

      .Sidebar-navText {
        display: none !important;
      }
    }
  }
}
