@import 'src/assets/styles/themes.scss';

.Sidebar {
  &-container {
    @include shadow-dark;
    position: relative;
    z-index: 10;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-page-top) 0;
    background-image: linear-gradient(
      to bottom,
      $color-primary,
      $color-primary-gradient
    );

    @include media-ld {
      width: 80px;
    }

    @include media-phone {
      width: 100%;
      height: auto;
      background-color: $color-primary;
      padding: 0;
    }
  }

  &-branding {
    color: $color-white;
    display: flex;
    align-items: center;
    margin-bottom: $spacing-30;
    position: relative;

    @include media-phone {
      display: none;
    }
  }

  &-brandingLogo {
    display: block;
    height: 30px;
    margin-right: $spacing-10;

    @include media-ld {
      margin-right: 0;
    }
  }

  &-brandingBeta {
    position: absolute;
    top: 80%;
    right: 20px;
    font-size: 10px;
    letter-spacing: 3px;

    @include media-ld {
      display: none;
    }
  }

  &-brandingText {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    position: relative;
    bottom: 4px;

    @include media-ld {
      display: none;
    }
  }

  &-nav {
    width: 100%;

    @include media-phone {
      display: flex;
    }
  }

  &-navItem {
    display: flex;
    color: $color-white;
    padding: $spacing-15 $spacing-40;
    cursor: pointer;
    border-radius: $br-med;
    text-decoration: none;
    position: relative;

    &--active {
      &::before {
        content: '';
        position: absolute;
        border-radius: $br-max;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 10px;
        width: 10px;

        background-color: $color-white;

        @include media-ld {
          height: 100%;
          border-radius: 0;
        }

        @include media-phone {
          content: initial;
        }
      }
    }

    @include media-ld {
      padding: $spacing-15 0;
      justify-content: center;
    }

    @include media-phone {
      flex: 1 1 25%;
      padding: $spacing-20 0;
    }

    &:hover {
      background-color: $color-primary;
    }
  }

  &-navIcon {
    margin-right: $spacing-20;

    @include media-ld {
      margin-right: 0;
    }
  }

  &-navText {
    font-size: 18px;

    @include media-ld {
      display: none;
    }
  }
}
