@import 'src/assets/styles/themes.scss';

$settings-spacing-desktop: 60px;

.Settings {
  &-container {
    @include page-container;
  }

  &-updateButton {
    @include button-default;
    position: fixed;
    bottom: $spacing-30;
    right: $spacing-30;
    z-index: 100;

    @include media-phone {
      /* To account for menu at botton */
      bottom: 64px + $spacing-10;
      right: $spacing-10;
    }
  }

  &-heading {
    display: none;
    text-transform: uppercase;
    color: $color-table-header;
    font-size: 12px;
    margin-bottom: $spacing-10;
    font-weight: 500;

    @include media-phone {
      display: block;
    }
  }

  &-section {
    & + & {
      padding-top: $settings-spacing-desktop;

      @include media-phone {
        padding-top: $spacing-40;
      }
    }
  }

  &-subSection {
    display: block;

    @include media-phone {
      border-top: 1px solid $color-table-divider;
      border-bottom: 1px solid $color-table-divider;
    }

    & + & {
      padding-top: $settings-spacing-desktop;

      @include media-phone {
        padding-top: 0;
        border-top: 0;
      }
    }
  }

  &-description {
    @include settings-description;

    @include media-phone {
      font-size: 14px;
    }
  }
}
