@import 'src/assets/styles/themes.scss';

.Settings {
  &-container {
    @include page-container;
  }

  &-updateButton {
    @include button-default;
    position: fixed;
    bottom: $spacing-30;
    right: $spacing-30;
    z-index: 100;

    @include media-phone {
      /* To account for menu at botton */
      bottom: 64px + $spacing-10;
      right: $spacing-10;
    }
  }

  &-section {
    display: block;

    & + & {
      margin-top: 80px;
    }

    @include media-phone {
      padding: 0;
      margin-top: 0 !important;
      & + & {
        border-top: 1px solid $color-table-divider;
      }
    }
  }
}
