<div class="Settings-container animate-page-in" *ngIf="settings">
  <button
    class="Settings-updateButton"
    (click)="saveChanges()"
    *ngIf="hasChanged()"
  >
    Save Changes
  </button>
  <ng-container *ngIf="userSettings?.enableNetWorth">
    <section class="Settings-section">
      <app-net-worth-config
        id="net-worth-table-config"
        [netWorthColumns]="settings.netWorthFields"
      ></app-net-worth-config>
    </section>

    <section class="Settings-section">
      <app-net-worth-summary-config
        id="net-worth-summary-config"
        [netWorthSummaryConfigOptions]="settings.netWorthSummaryOptions"
        [netWorthSummaryConfigSelectedItems]="settings.netWorthSummaryItems"
        [netWorthSummaryConfigAvailableFields]="
          meta.netWorthSummaryItems.sumOf.options
        "
      ></app-net-worth-summary-config>
    </section>
  </ng-container>

  <ng-container *ngIf="userSettings.enableMonthlyDistribution">
    <section class="Settings-section">
      <app-monthly-distribution-fields-config
        [monthlyDistributionIncomeColumns]="
          settings.monthlyDistributionIncomeFields
        "
        [monthlyDistributionOutgoingColumns]="
          settings.monthlyDistributionOutgoingFields
        "
      ></app-monthly-distribution-fields-config>
    </section>
  </ng-container>

  <ng-container *ngIf="userSettings.enableSalary">
    <section class="Settings-section">
      <app-salary-config [salaryConfigSettings]="settings"></app-salary-config>
    </section>
  </ng-container>
</div>
