<div class="Settings-container animate-page-in" *ngIf="settings">
  <div class="Settings-warning mobile-only">
    Please note, some of the features on the settings page do not work as
    smoothly as on a desktop. To change your configuration, it is recommended to
    do so on a bigger screen.
  </div>
  <button
    class="Settings-updateButton"
    (click)="saveChanges()"
    *ngIf="hasChanged()"
  >
    Save Changes
  </button>
  <app-net-worth-config
    class="Settings-section first"
    id="net-worth-table-config"
    [netWorthColumns]="settings.netWorthFields"
  ></app-net-worth-config>

  <app-net-worth-summary-config
    class="Settings-section last"
    id="net-worth-summary-config"
    [netWorthSummaryConfigOptions]="settings.netWorthSummaryOptions"
    [netWorthSummaryConfigSelectedItems]="settings.netWorthSummaryItems"
  ></app-net-worth-summary-config>
</div>

<app-loading-spinner></app-loading-spinner>
