<div class="NetWorthSummaryFormModal-container">
  <app-modal-header
    [modalHeaderText]="modalTitle"
    (modalHeaderClose)="close()"
  ></app-modal-header>
  <form
    [formGroup]="form.formGroup"
    (ngSubmit)="addOption()"
    class="NetWorthSummaryFormModal-form"
    *ngIf="form"
  >
    <ngx-form-input-item
      *ngFor="let field of form.fields"
      [formInputField]="field"
    ></ngx-form-input-item>
    <p class="NetWorthSummaryFormModal-iconPickerLabel">Selected Icon</p>
    <app-icon-picker
      [iconPickerDefault]="data.existingData?.icon"
      (iconPickerSelected)="onIconSelect($event)"
    ></app-icon-picker>
    <app-form-submit
      class="NetWorthSummaryFormModal-submitNew"
      value="Add option"
      [form]="form.formGroup"
    ></app-form-submit>
  </form>
</div>
