@import 'src/assets/styles/themes.scss';

.MonthlyDistributionEntryForm {
  &-container {
    @include page-container;
  }

  &-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;

    @include media-tablet {
      max-width: initial;
    }
  }

  &-subtitle {
    @include form-subheading;
  }

  &-remainingBalance {
    background-color: $color-primary-light;
    padding: $spacing-30;
    border-radius: $br-med;
    text-align: center;
    margin-bottom: $spacing-20;
  }

  &-label {
    font-size: 16px;
    margin-bottom: $spacing-10;
    color: $color-form-label;
  }

  &-value {
    font-size: 24px;
    font-weight: 500;
    color: $color-primary;
  }
}
