@import 'src/assets/styles/themes.scss';

.MonthlyDistributionEntryForm {
  &-container {
    @include page-container;
  }

  &-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;

    @include media-phone {
      max-width: 100%;
    }
  }

  &-subtitle {
    @include form-subheading;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &-moreFieldsLink {
    @include link;
    font-size: 14px;
    display: flex;
    align-items: center;

    i-feather {
      height: 14px;
      width: 14px;
      margin-right: 5px;
    }
  }

  &-remainingBalance {
    background-color: $color-primary-light;
    padding: $spacing-30;
    border-radius: $br-med;
    text-align: center;
    margin-bottom: $spacing-20;
  }

  &-label {
    font-size: 16px;
    margin-bottom: $spacing-10;
    color: $color-form-label;
  }

  &-value {
    font-size: 24px;
    font-weight: 500;
    color: $color-primary;
  }

  &-submit {
    @include media-phone {
      display: none;
    }
  }
}
