@import 'src/assets/styles/themes.scss';

.NetWorthConfig {
  &-heading {
    @include settings-heading;

    i-feather {
      color: $color-subheading;
    }
  }

  &-description {
    @include settings-description;
  }

  &-expand {
    @include button-reset;
    display: none;

    @include media-phone {
      display: block;
    }
  }

  &-expandedContent {
    &.display {
      display: block !important;
    }
  }
}
