@import 'src/assets/styles/themes.scss';

.NetWorthConfig {
  &-heading {
    @include page-subheading;
    margin-bottom: $spacing-20;
  }

  &-configurableEntries {
    margin: 0 $spacing-10;
    display: inline-block;
  }

  &-description {
    @include settings-description;
  }

  &-columnsList {
    margin-bottom: $spacing-20;
  }

  &-input {
    display: block;
    max-width: 300px;
  }

  &-columnListEntry {
    @include table-row;
    @include settings-moveable-item;
    display: inline-flex;
    align-items: center;
    padding: $spacing-10 $spacing-20;
    text-align: left;
    font-size: 16px;

    &:not(.is-movable) {
      cursor: initial;
      &:hover {
        background-color: $color-settings-item;
      }
    }

    & + & {
      margin-left: $spacing-10;
    }
  }

  &-removeItem {
    @include button-reset;
    display: inherit;
    transition: transform 100ms;
    transform-origin: center;

    &:hover {
      transform: scale(1.3);
    }

    i-feather {
      height: 15px;
      width: 15px;
      margin-left: $spacing-5;
    }
  }
}
