<app-card
  class="SalaryLog-container"
  cardTitle="Monthly log"
  [cardActions]="cardActions"
>
  <app-table [tableColumns]="salaryLogMeta.fields | values">
    <tr class="SalaryLog-row" *ngFor="let row of salaryLogItems">
      <td class="SalaryLog-rowItem">
        {{ row.date | date: 'MMM y' }}
      </td>
      <td
        class="SalaryLog-rowItem"
        *ngFor="let column of salaryLogMeta.fields | keys | slice: 1"
      >
        {{ row[column] | currency: preferredCurrency:'symbol':'1.0-2' }}
      </td>
      <app-table-actions
        class="SalaryLog-rowItem"
        *ngIf="isEditing"
        (tableActionsRemove)="removeLog(row.date)"
      ></app-table-actions>
    </tr>
  </app-table>
</app-card>
