<app-card
  class="SalaryLog-container"
  cardTitle="Monthly log"
  [cardActions]="cardActions"
>
  <app-table
    [tableColumns]="[
      'Date',
      'Gross salary',
      'Income tax',
      'National insurance',
      'Pension',
      'Student Finance',
      'Net salary'
    ]"
  >
    <tr class="SalaryLog-row" *ngFor="let row of salaryLogItems">
      <td class="SalaryLog-rowItem">
        {{ row.date | date: 'MMM y' }}
      </td>
      <td class="SalaryLog-rowItem">
        {{ row.grossSalary | currency: preferredCurrency:'symbol':'1.0-2' }}
      </td>
      <td class="SalaryLog-rowItem">
        {{ row.incomeTax | currency: preferredCurrency:'symbol':'1.0-2' }}
      </td>
      <td class="SalaryLog-rowItem">
        {{
          row.nationalInsurance | currency: preferredCurrency:'symbol':'1.0-2'
        }}
      </td>
      <td class="SalaryLog-rowItem">
        {{
          row.pensionContributions
            | currency: preferredCurrency:'symbol':'1.0-2'
        }}
      </td>
      <td class="SalaryLog-rowItem">
        {{
          row.studentLoanPayments | currency: preferredCurrency:'symbol':'1.0-2'
        }}
      </td>
      <td class="SalaryLog-rowItem">
        {{ row.netSalary | currency: preferredCurrency:'symbol':'1.0-2' }}
      </td>
      <app-table-actions
        class="SalaryLog-rowItem"
        *ngIf="isEditing"
        (tableActionsRemove)="removeLog(row.date)"
      ></app-table-actions>
    </tr>
  </app-table>
</app-card>
