<app-unauthenticated-page-wrapper>
  <form
    [formGroup]="form.formGroup"
    (ngSubmit)="submitForm()"
    class="ResetPassword-container"
    *ngIf="!passwordSuccessfullyReset; else passwordReset"
  >
    <ngx-form-input [formInputField]="form.fields[0]"></ngx-form-input>
    <app-form-errors [appFormErrors]="errors"></app-form-errors>
    <app-form-submit
      [form]="form.formGroup"
      value="Reset password"
    ></app-form-submit>
  </form>

  <ng-template #passwordReset
    ><p class="ResetPassword-text">
      Your password has been successfully reset.
    </p>

    <a class="ResetPassword-login" routerLink="login"
      >Click here to login</a
    ></ng-template
  >
</app-unauthenticated-page-wrapper>
