@import 'src/assets/styles/themes.scss';

:host {
  height: 100%;
  display: block;
}
.ResetPassword {
  &-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &-text {
    @include default-text;
    font-size: 18px;
    text-align: center;
    margin-bottom: $spacing-20;
  }

  &-login {
    @include form-button;
  }
}
