@import 'src/assets/styles/themes.scss';

:host {
  position: fixed;
  bottom: $spacing-20;
  right: $spacing-20;

  @include media-phone {
    /* To account for menu at botton */
    bottom: 64px + $spacing-15;
    right: $spacing-15;
  }
}

.FloatingActionButton {
  $shadow-color: #999;
  &-container {
    @include button-default;
    display: flex;
    align-items: center;
    border-radius: $br-max;
    justify-content: center;
    transition: 250ms ease;
    box-shadow: 0 0px 4px rgba($shadow-color, 0.08),
      0 1px 8px rgba($shadow-color, 0.12), 0 2px 16px rgba($shadow-color, 0.16),
      0 4px 32px rgba($shadow-color, 0.2);

    &:hover {
      background-color: darken($color-primary, 10%);
    }

    @include media-phone {
      color: $color-white;
      background-color: $color-primary;
      height: 60px;
      width: 60px;
      padding: 0;
    }

    &.hidden {
      transform: scale(0);
    }
  }

  &-icon {
    margin-right: $spacing-5;

    @include media-phone {
      margin-right: 0;
      height: 24px;
      width: 24px;
    }
  }

  &-text {
    @include media-phone {
      display: none;
    }
  }
}
