.animate-page-in {
  animation: enter-page 500ms forwards;

  .animate-list-item {
    animation: enter-list 500ms forwards;
    transform-origin: middle;
  }
}

@keyframes enter-list {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes enter-page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
