@mixin page-container {
  padding: $spacing-50;
}

@mixin page-heading-single {
  font-size: 28px;
  font-weight: bold;
  color: $color-heading;
  margin-bottom: $spacing-40;
}

@mixin center-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin shadow-light {
  box-shadow: 0px 4px 32px rgba($color-primary, 0.05);
}

@mixin shadow-dark {
  box-shadow: 0px 4px 32px rgba($color-primary, 0.5);
}

@mixin table-row {
  padding: $spacing-15 0;
}

@mixin table-row-item {
  @include table-row;
  color: $color-table-content;
  border-top: 1px solid $color-table-divider;
}

@mixin button-reset {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
