@import 'src/assets/styles/themes.scss';

.UserSettings {
  &-container {
    @include page-container;
    position: relative;
  }

  &-subheading {
    @include page-subheading;
  }

  &-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;

    @include media-phone {
      max-width: 100%;
    }
  }

  &-formHeading {
    @include subheading-sm;
    margin-bottom: $spacing-15;
    margin-top: $spacing-20;
  }

  &-updateButton {
    @include button-default;
    position: fixed;
    bottom: $spacing-30;
    right: $spacing-30;
    z-index: 100;

    @include media-phone {
      /* To account for menu at botton */
      bottom: 64px + $spacing-10;
      right: $spacing-10;
    }
  }

  &-section {
    display: block;
    padding-bottom: $spacing-40;
    padding-top: $spacing-40;

    &:last-of-type {
      padding-bottom: 0;
    }

    &:first-of-type {
      padding-top: 0;
    }

    & + & {
      border-top: 1px solid $color-table-divider;
    }
  }
}
