<div class="UserSettings-container animate-page-in" *ngIf="settingsForm">
  <section class="UserSettings-section">
    <app-change-password-form></app-change-password-form>
  </section>

  <section class="UserSettings-section" *ngIf="isExperimental">
    <h2 class="UserSettings-subheading">Configuration</h2>
    <form [formGroup]="settingsForm.formGroup" class="UserSettings-form">
      <h3 class="UserSettings-formHeading">Enabled features</h3>
      <ngx-form-input-checkbox
        [formInputField]="settingsForm.fields[0]"
      ></ngx-form-input-checkbox>
      <ngx-form-input-checkbox
        [formInputField]="settingsForm.fields[1]"
      ></ngx-form-input-checkbox>
      <ngx-form-input-checkbox
        [formInputField]="settingsForm.fields[2]"
      ></ngx-form-input-checkbox>

      <h3 class="UserSettings-formHeading">Notification settings</h3>
      <ngx-form-input-checkbox
        [formInputField]="settingsForm.fields[3]"
      ></ngx-form-input-checkbox>
      <ngx-form-input
        [formInputField]="settingsForm.fields[4]"
      ></ngx-form-input>

      <h3 class="UserSettings-formHeading">Preferred currency</h3>
      <ngx-form-input
        [formInputField]="settingsForm.fields[5]"
      ></ngx-form-input>
    </form>
  </section>

  <button
    class="UserSettings-updateButton"
    (click)="saveChanges()"
    *ngIf="displaySaveButton"
  >
    Save Changes
  </button>
</div>
