<div class="UserSettings-container animate-page-in" *ngIf="settingsForm">
  <section class="UserSettings-section">
    <app-change-password-form></app-change-password-form>
  </section>

  <section class="UserSettings-section">
    <h2 class="UserSettings-subheading">Configuration</h2>
    <form [formGroup]="settingsForm.formGroup" class="UserSettings-form">
      <h3 class="UserSettings-formHeading">Enabled features</h3>
      <ngx-form-input-checkbox
        *ngFor="let field of settingsForm.fields | slice: 0:4"
        [formInputField]="field"
      ></ngx-form-input-checkbox>

      <h3 class="UserSettings-formHeading">Notification settings</h3>
      <ngx-form-input-item
        *ngFor="let field of settingsForm.fields | slice: 4:7"
        [formInputField]="field"
      ></ngx-form-input-item>

      <h3 class="UserSettings-formHeading">Preferred currency</h3>
      <ngx-form-input
        [formInputField]="settingsForm.fields[7]"
      ></ngx-form-input>
    </form>
  </section>

  <button
    class="UserSettings-updateButton"
    (click)="saveChanges()"
    *ngIf="dirty$ | async"
  >
    Save Changes
  </button>
</div>
