@import 'src/assets/styles/themes.scss';

.NetWorthEntryForm {
  &-container {
    @include page-container;
  }

  &-heading {
    @include page-heading-single;
  }

  &-form {
    max-width: 400px;
  }

  &-subheading {
    padding-top: $spacing-30;
    margin-bottom: $spacing-20;
    @include page-subheading;
  }

  &-submit {
    margin-top: $spacing-30;
  }
}
