<div class="NetWorthEntryForm-container animate-page-in" *ngIf="form">
  <form
    [formGroup]="form.formGroup"
    class="NetWorthEntryForm-form"
    (ngSubmit)="submitForm()"
  >
    <ngx-form-input [formInputField]="form.fields[0]"></ngx-form-input>
    <h2 class="NetWorthEntryForm-subheading">
      Entries
      <a class="NetWorthEntryForm-moreFieldsLink" routerLink="../../settings">
        <i-feather name="plus"></i-feather> Add more fields</a
      >
    </h2>

    <ngx-form-input-number
      *ngFor="let field of form.fields | slice: 1"
      [formInputField]="field"
    ></ngx-form-input-number>

    <app-form-errors [appFormErrors]="errors"></app-form-errors>

    <app-form-submit
      class="NetWorthEntryForm-submit"
      value="Save Entry"
      [form]="form.formGroup"
    ></app-form-submit>
  </form>
</div>
