@import 'src/assets/styles/themes.scss';

.NetWorthEntryForm {
  &-container {
    @include page-container;
  }

  &-form {
    max-width: 400px;

    @include media-tablet {
      max-width: initial;
    }
  }

  &-subheading {
    @include form-subheading;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &-submit {
    margin-top: $spacing-50;
  }

  &-moreFieldsLink {
    @include link;
    font-size: 14px;
    display: flex;
    align-items: center;

    i-feather {
      height: 14px;
      width: 14px;
      margin-right: 5px;
    }
  }
}
