<div class="NetWorthEntryForm-container">
  <h1 class="NetWorthEntryForm-heading">Create net worth entry</h1>
  <form [formGroup]="form.formGroup" class="NetWorthEntryForm-form">
    <app-form-input
      [formInputField]="form.fields[0]"
      label="Month"
      type="month"
    ></app-form-input>
    <h2 class="NetWorthEntryForm-subheading">Entries</h2>
    <div
      class="NetWorthEntryForm-input"
      *ngFor="let field of form.fields | slice: 1"
    >
      <app-form-input [formInputField]="field"></app-form-input>
    </div>

    <app-form-submit
      class="NetWorthEntryForm-submit"
      value="Save Entry"
    ></app-form-submit>
  </form>
</div>
