@import 'src/assets/styles/themes.scss';

.NetWorthSummaryConfig {
  &-heading {
    @include page-subheading;
    margin-bottom: $spacing-20;
  }

  &-description {
    @include settings-description;
  }

  &-selectedItems {
    display: flex;
    min-width: 100px;
    min-height: 68px;
  }

  &-selectedItem {
    @include settings-moveable-item;
    padding: $spacing-20 $spacing-30;
    text-align: center;
    font-size: 18px;

    & + & {
      margin-left: $spacing-10;
    }
  }

  &-selectedItemAttributes {
    font-size: 12px;
    text-transform: uppercase;
  }

  &-subheading {
    font-size: 18px;
    font-weight: 500;
    color: $color-subheading;
    margin-bottom: $spacing-10;
    margin-top: $spacing-30;
  }

  &-form {
    display: flex;
    align-items: center;
    max-width: 800px;
  }

  &-labelField {
    flex: 1 1 30%;
  }

  &-selectionField {
    margin-left: $spacing-20;
    flex: 1 1 70%;
  }

  &-submitNew {
    display: block;
    margin-left: $spacing-20;
  }

  &-error {
    color: $color-form-input-error-text;
    font-size: 14px;
    margin-top: $spacing-10;
  }
}
