@import 'src/assets/styles/themes.scss';

.NetWorthSummaryConfig {
  $cmp: &;

  &-heading {
    @include page-subheading;
    margin-bottom: $spacing-20;
  }

  &-description {
    @include settings-description;
  }

  &-selectedItems {
    display: flex;
    min-width: 100px;
    min-height: 68px;

    overflow-y: auto;
  }

  &-selectedItem {
    margin-right: $spacing-10;
  }

  &-subheading {
    font-size: 18px;
    font-weight: 400;
    color: $color-subheading;
    margin-bottom: $spacing-10;
    margin-top: $spacing-30;
  }

  &-error {
    color: $color-form-input-error-text;
    font-size: 14px;
    margin-top: $spacing-10;
  }

  &-addMoreButton {
    @include settings-moveable-item;
    @include center-contents;
    flex-direction: column;
    padding: $spacing-20 $spacing-30;
    text-align: center;
    font-size: 18px;
    position: relative;
    min-width: 170px;

    @include media-phone {
      padding: $spacing-10 $spacing-20;
    }
  }
}
