@import 'src/assets/styles/themes.scss';

:host {
  display: block;
}

.TableActions {
  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &-button {
    @include button-reset;
    transition: all 100ms;

    i-feather {
      height: 20px;
      width: 20px;
    }

    &:hover {
      transform: scale(1.2);
    }

    & + & {
      margin-left: $spacing-15;
    }
  }

  &-deleteButton {
    i-feather {
      color: $color-form-input-error-border;
    }

    &:hover {
      i-feather {
        color: $color-form-input-error-text;
      }
    }
  }

  &-editButton {
    i-feather {
      color: $color-table-header;
    }

    &:hover {
      i-feather {
        color: $color-subheading;
      }
    }
  }
}
