<div class="Investments-container" *ngIf="investmentLogs">
  <div class="Investments-content">
    <app-dashboard-summary
      class="Investments-section Investments-summary"
      [dashboardSummaryItems]="summaryItems"
    ></app-dashboard-summary>

    <app-companies-card
      class="Investments-section Investments-stocks animate-list-item"
    ></app-companies-card>

    <app-trends-card
      class="Investments-section Investments-trends animate-list-item"
    ></app-trends-card>

    <app-monthly-log-card
      class="Investments-section Investments-log animate-list-item"
      [monthlyLogCardItems]="investmentLogs"
    ></app-monthly-log-card>
  </div>
</div>
