@import 'src/assets/styles/themes.scss';

.Investments {
  &-container {
    @include page-container;
  }

  &-heading {
    @include page-heading-single;
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $spacing-30;
    grid-template-areas:
      'summary summary summary'
      'stocks stocks trends'
      'log log log';
  }

  &-summary {
    display: block;
    grid-area: summary;
  }

  &-stocks {
    grid-area: stocks;
  }

  &-trends {
    grid-area: trends;
  }

  &-log {
    grid-area: log;
  }
}
