@import 'src/assets/styles/themes.scss';
:host {
  ::ng-deep {
    .DashboardSummary-container {
      @include media-sd {
        min-height: 350px;
      }

      @include media-phone {
        min-height: unset;
      }
    }
  }
}
.Investments {
  &-container {
    @include page-container;
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $spacing-30 $spacing-20;
    grid-template-areas:
      'summary summary'
      'monthly trends'
      'log log';

    @include media-tablet {
      display: block;
    }
  }

  &-section {
    display: block;
    min-width: 0;

    @include media-tablet {
      & + & {
        margin-top: $spacing-20;
      }
    }
  }

  &-monthlyChange {
    grid-area: monthly;
  }

  &-summary {
    display: block;
    grid-area: summary;
  }

  &-stocks {
    grid-area: stocks;
  }

  &-trends {
    grid-area: trends;
  }

  &-log {
    grid-area: log;
  }

  &-noItems {
    @include settings-description;
    font-size: 18px;

    a {
      @include link;
    }
  }
}
